<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TshipinMapper">
	<select id="findTshipinList" 
		resultType="Tshipin">
		select * from tshipin 
	</select>
	
	<select id="query" parameterType="java.util.Map" resultType="Tshipin">
		select *,shipin_name shipinName,shipin_jianjie shipinJianjie,shipin_id shipinId from tshipin  
		<where>
			<if test="shipinId!=null and shipinId!=0">
			   and shipin_id= #{shipinId}
			</if>
		</where>
	</select>
	
	
	<select id="queryTshipinById" parameterType="int" resultType="Tshipin">
		select *,shipin_name shipinName,shipin_jianjie shipinJianjie,shipin_id shipinId  from tshipin where shipin_id=${value}
	</select>
 


	<insert id="insertTshipin" useGeneratedKeys="true" keyProperty="id" parameterType="Tshipin">
		insert into tshipin
		(shipin_name,shipin_jianjie,fujian,fujianYuanshiming,shijian,del,zt)
		values
		(#{shipinName},#{shipinJianjie},#{fujian},#{fujianyuanshiming},#{shijian},#{del},#{zt});
	</insert>
 
	
  
 
 
 
 
 
 
 



	<update id="updateTshipin" parameterType="Tshipin" >
		update tshipin set
		 shipin_name=#{shipinName},shipin_jianjie=#{shipinJianjie},fujian=#{fujian},fujianYuanshiming=#{fujianyuanshiming},shijian=#{shijian},del=#{del},zt=#{zt}
		where
		shipin_id=#{shipinId}	
	</update>
	
 
	
	<delete id="deleteTshipin" parameterType="int">
	    delete from  tshipin where shipin_id=${value}
	</delete>

</mapper>

 